<!DOCTYPE html>
<html ng-app = "myPortfolioApp">
	<head>
		<script src = "/static/javascript/bower_components/angular/angular.js"></script>
		<script src = "/static/javascript/mainScript.js"></script>
		<link rel = "stylesheet" type = "text/css" href = "/static/css/mainStyle.css"></link>
	</head>
	<body>
		<div id = "mainHighlights" ng-controller = "mainHighlight">
			<div class = "mainHighlightsViewType" ng-include src="view"></div>
		</div>
		<div id = "myPortfolioMain" ng-controller="myPortfolioMain">
			<span ng-bind-html = "helloWorld"></span>
		</div>
	</body>
</html>