@mixin getMainHighlightsMobileViewType() {
	height : $mainHighlightHeight;
	width : $mainHighlightWidth;
	background-image : url($imageUrl);
	background-size: cover;
	color: white;
}

@mixin getMainHighlightsDesktopViewType() {
	background-size: 100% 100% !important;
	display: table; 
	//Table row
	.mainHightlightTableRow {
		display: table-row;
	}
}

@mixin getMainHightlightMobileTableCell() {
	font-size : 14px;
	padding : 10px;	
	font-family: arial;
	.myTitleProfile {
		text-align : center;
	}

	.myProfileSummary {
		padding : 10px;
		background-color : $mySummaryContentBackgroundColor;
		opacity : 0.8;
		font-family : verdana;
		text-align : justify;
	}
}

@mixin getMainHightlightDesktopTableCell() {
	display: table-cell;
	height : $cellWidth;
	width : $cellHeight;
	font-size : 16px;
	.myTitleProfile {
		text-align : left !important;
	}

	.myProfileSummary {
		width : 80%;
		margin-left:  80px;
	}
}