@mixin getMainHighlightsMobileViewType() {
	background-size: cover;
}

@mixin getMainHighlightsDesktopViewType() {
	background-size: 100% 100%;
	//Table row
	.mainHightlightTableRow {
		display: table-row;
	}
}

@mixin getMainHightlightMobileTableCell() {
	font-size : 15px;
	.myTitleProfile {
		text-align : center;
	}
}

@mixin getMainHightlightDesktopTableCell() {
	display: table-cell;
	height : $cellWidth;
	width : $cellHeight;
	font-size : 16px;
	.myTitleProfile {
		text-align : left;
	}
	.myProfileSummary {
		width : 90%;
	}
}