$bodyMargin : 0px;
$mainHighlightHeight : inherit;
$mainHighlightWidth : 100%;
$backgroundColor : red;
$screenSizeMinWidth : 701px;
$cellWidth : 25%;
$cellHeight : 25%;
$imageUrl : 'http://res.cloudinary.com/tempest/image/upload/c_limit,cs_srgb,dpr_1.0,q_80,w_10000/MTMwMjg4MjE4Mzk3NTc4NTE0.jpg';
$mySummaryContentBackgroundColor : purple;

body {
   margin: $bodyMargin;
  text-size-adjust: none;
}

.mainHighlightsViewType {
	height : $mainHighlightHeight;
	width : $mainHighlightWidth;
	background-image : url($imageUrl);
	background-size: 100% 100%;
	@media (min-width: $screenSizeMinWidth) and (min-device-width: $screenSizeMinWidth) {
	 	display: table; 
	}
}

.mainHightlightTableRow {
	display: table-row;
}

.myProfileSummary {
	@media (min-width: $screenSizeMinWidth) and (min-device-width: $screenSizeMinWidth) {
		background-color : $mySummaryContentBackgroundColor;
		opacity : 0.8;
		padding : 10px;
		width : 80%;
		font-family : verdana;
		text-align : justify;
		margin-left:  80px;
	}
}

.mainHightlightTableCell {
	@media (min-width: $screenSizeMinWidth) and (min-device-width: $screenSizeMinWidth) {
	 	display: table-cell;
	 	height : $cellWidth;
	 	width : $cellHeight;
	 	font-size : 16px;
	}
	font-size : 14px;
	padding : 10px;	
	color: white;
	font-family: arial;
}
