$bodyMargin : 0px;
$mainHighlightHeight : inherit;
$mainHighlightWidth : 100%;

$screenSizeMinWidth : 734px;
$cellWidth : 25%;
$cellHeight : 25%;

$imageUrl : 'http://res.cloudinary.com/tempest/image/upload/c_limit,cs_srgb,dpr_1.0,q_80,w_10000/MTMwMjg4MjE4Mzk3NTc4NTE0.jpg';
$mySummaryContentBackgroundColor : purple;

@import 'mainHighlightsMobileDesktop';

body {
   	margin: $bodyMargin;
   	text-size-adjust: none;

    //Desktop View
	@media (min-width: $screenSizeMinWidth) and (min-device-width: $screenSizeMinWidth) {
		.mainHighlightsViewType {
			@include getMainHighlightsDesktopViewType();

			.mainHightlightTableCell {
			 	@include getMainHightlightDesktopTableCell();
			}

		}
		
	}

	//By Default Mobile view
	.mainHighlightsViewType {
		@include getMainHighlightsMobileViewType();

	.mainHightlightTableCell {
		@include getMainHightlightMobileTableCell();
	}

	}
}
